body {
    background-color: transparent; /* Remova a cor de fundo do corpo */
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

table {
    background-color: rgb(151, 150, 253); /* Adicione a cor de fundo à tabela */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

h2, h3 {
    margin-top: 20px;
}

button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    right: 5%;
}

button:hover {
    background-color: darkpurple;
}